.top-image {
    background-image: url(../img/pattern.png);
    background-color: lightblue;
    background-repeat: repeat-x;
}

.top-image img {
    width: 10%;
}

.autore {
    font-size: x-large;
}

.background-color-yellow {
    color: yellowgreen;
}