.top-image {
    background-image: url(../img/pattern.png);
    background-color: lightblue;
    background-repeat: repeat-x;
    padding: 40px;
}

.top-image img {
    width: 10%;
}

.autore {
    font-size: x-large;
}

.background-color-yellow {
    background-color: yellowgreen;
}

.intestazione {
    background-color: cyan;
}

.bicolor {
    background-color: lightcyan;
}

span span {
    color: cyan;
}

.larghezza {
    width: 25%;
}

.autore {
    color: lightgray;
}

#first-photo {
    background-image: url(../img/monitor.jpg);
}

#second-photo {
    background-image: url(../img/graph.jpg);
}

.photo {
    color: white;
    background-repeat: no-repeat;
    height: 200px;
    width: 400px;
}