.top-image {
    background-image: url(../img/pattern.png);
    background-color: lightblue;
    background-repeat: repeat-x;
    padding: 40px;
}

.top-image img {
    width: 10%;
}

.autore {
    font-size: x-large;
}

.background-color-yellow {
    background-color: yellowgreen;
}

.intestazione {
    background-color: cyan;
}

.bicolor {
    background-color: lightcyan;
}